body{
    background-color:#111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}



.tablero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    width: 450px;
    padding:30px;
    place-items: center;
}

.btn-reinicio{
  width: 50%;
  height: 30px;
  background-color: #fff;
  margin: auto;
  padding: 3px;
  cursor: pointer;
  border-radius: 5%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.turnos{
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.footer-btn{
  padding: 5px;
  border: none;
  background-color: #111;
  color: #fff;
}

.footer-btn:hover{
  background-color: #333;
}

.turnos div {
  width: 100px;
}

.winner .win .cuadrado{
  width: 120px;
  border: none;
}

@media screen and (width<550px) {
  .tablero{
    width: 350px;
  }
}
@media screen and (width<400px) {
  .tablero{
    width: 280px;
  }
}